apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: com619-ingress
  namespace: default
  annotations:
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP":80},{"HTTPS":443}]'
    alb.ingress.kubernetes.io/ssl-redirect: "443"
    alb.ingress.kubernetes.io/certificate-arn: ${CERT_ARN}
spec:
  ingressClassName: alb
  rules:
  - host: ${FULLDOMAINNAME}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: com619-service
            port:
              number: 3000
